:root{
  --w: #fff;
  --r: #ff686f;
  --o: #ffc36e;
  --b: #69ccff;
  --g:#8bff69;
  --y:#ffff5d;
}

html,body{
	overflow: hidden;
}
body{
	/*width:95vw;
	height:95vh;*/
	background-color:#555;
}

.navBox{
	position: fixed;
	height:100vh;
	width:35vw;
	background-color: #000;
	font-size: 2vw;
	color:#fff;
	z-index: 100;
}

.navigation{
	margin:0px 1vw;
	height:calc(100vh/3);
	text-align: center;
	vertical-align: middle;
	line-height: calc(100vh/3);
	transition:3s;
}
.navigation:hover{
	text-decoration:underline;
}

#about{
	border-top:solid 1px white;
	border-bottom:solid 1px white;
}

.Rect{
	position:absolute;
	left:6vw;
	font-size: 5vw;
	line-height: calc(100vh/3);
	transform-origin: left;
}

.cubeBox{
	display:flex;
	flex-wrap: wrap;
	position: absolute;
	left:35vw;
	width:100vh;
	height:100vh;
	transform-style: preserve-3d;
	perspective: 60vw;
	transform-origin:30vw 30vw -30vw;
}
.cube{
	width:calc(100vh/3);
	height:calc(100vh/3);
	border:solid 2px #000;
}
.FF{
	z-index:10;
}
.F{
	z-index: 15;
}
.centerImg{
	width:100%;
	height:100%;
}
.title{
	text-decoration:underline;
}
.centerSY{
	font-size: 25px;
	width:100%;
	height:100%;
	color:black;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.centerST{
	writing-mode: vertical-rl;
	font-size: 25px;
	width:100%;
	height:100%;
	color:black;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.c1{
	background-color: var(--w);

}
.c2{
	background-color: var(--g);
}
.c3{
	background-color: var(--w);
}
.c4{
	background-color: var(--b);
}
.c5{
	background-color: var(--w);
}
.c6{
	background-color: var(--w);
}
.c7{
	background-color: var(--w);
}
.c8{
	background-color: var(--y);
}
.c9{
	background-color: var(--w);
}

.c10{
	background-color: var(--g);
}
.c11{
	background-color: var(--g);
}
.c12{
	background-color: var(--g);
}
.c13{
	background-color: var(--g);
}
.c14{
	background-color: var(--g);
}
.c15{
	background-color: var(--g);
}
.c16{
	background-color: var(--g);
}
.c17{
	background-color: var(--g);
}
.c18{
	background-color: var(--g);
}

.c19{
	background-color: var(--r);
}
.c20{
	background-color: var(--r);
}
.c21{
	background-color: var(--r);
}
.c22{
	background-color: var(--r);
}
.c23{
	background-color: var(--r);
}
.c24{
	background-color: var(--r);
}
.c25{
	background-color: var(--r);
}
.c26{
	background-color: var(--r);
}
.c27{
	background-color: var(--r);
}

.c28{
	background-color: var(--o);
}
.c29{
	background-color: var(--o);
}
.c30{
	background-color: var(--o);
}
.c31{
	background-color: var(--o);
}
.c32{
	background-color: var(--o);
}
.c33{
	background-color: var(--o);
}
.c34{
	background-color: var(--o);
}
.c35{
	background-color: var(--o);
}
.c36{
	background-color: var(--o);
}

.c37{
	background-color: var(--b);
}
.c38{
	background-color: var(--b);
}
.c39{
	background-color: var(--b);
}
.c40{
	background-color: var(--b);
}
.c41{
	background-color: var(--b);
}
.c42{
	background-color: var(--b);
}
.c43{
	background-color: var(--b);
}
.c44{
	background-color: var(--b);
}
.c45{
	background-color: var(--b);
}

.c46{
	background-color: var(--y);
}
.c47{
	background-color: var(--y);
}
.c48{
	background-color: var(--y);
}
.c49{
	background-color: var(--y);
}
.c50{
	background-color: var(--y);
}
.c51{
	background-color: var(--y);
}
.c52{
	background-color: var(--y);
}
.c53{
	background-color: var(--y);
}
.c54{
	background-color: var(--y);
}

.Uu{
	transform-origin:10vw 30vw -30vw;
	transform: rotateX(90deg);
}
.Um{
	transform-origin:10vw 10vw -30vw;
	transform: rotateX(90deg);
}
.Ud{
	transform-origin:10vw -10vw -30vw;
	transform: rotateX(90deg);
}
.Du{
	transform-origin:10vw 30vw -30vw;
	transform: rotateX(-90deg);
}
.Dm{
	transform-origin:10vw 10vw -30vw;
	transform: rotateX(-90deg);
}
.Dd{
	transform-origin:10vw -10vw -30vw;
	transform: rotateX(-90deg);
}
.Ll{
	transform-origin:30vw 10vw -30vw;
	transform: rotateY(-90deg);
}
.Lc{
	transform-origin:10vw 10vw -30vw;
	transform: rotateY(-90deg);
}
.Lr{
	transform-origin:-10vw 10vw -30vw;
	transform: rotateY(-90deg);
}
.Rl{
	transform-origin:30vw 10vw -30vw;
	transform: rotateY(90deg);
}
.Rc{
	transform-origin:10vw 10vw -30vw;
	transform: rotateY(90deg);
}
.Rr{
	transform-origin:-10vw 10vw -30vw;
	transform: rotateY(90deg);
}
.Bl{
	transform-origin:30vw 10vw -30vw;
	transform: rotateY(180deg);
}
.Bc{
	transform-origin:10vw 10vw -30vw;
	transform: rotateY(180deg);
}
.Br{
	transform-origin:-10vw 10vw -30vw;
	transform: rotateY(180deg);
}

.F.u.l{
	transform-origin:30vw 30vw -30vw;
}
.F.u.c{
	transform-origin:10vw 30vw -30vw;
}
.F.u.r{
	transform-origin:-10vw 30vw -30vw;
}
.F.m.l{
	transform-origin:30vw 10vw -30vw;
}
.F.m.c{
	transform-origin:10vw 10vw -30vw;
}
.F.m.r{
	transform-origin:-10vw 10vw -30vw;
}
.F.d.l{
	transform-origin:30vw -10vw -30vw;
}
.F.d.c{
	transform-origin:10vw -10vw -30vw;
}
.F.d.r{
	transform-origin:-10vw -10vw -30vw;
}
.Uu.Ul{
	transform-origin:30vw 30vw -30vw;
}
.Uu.Uc{
	transform-origin:10vw 30vw -30vw;
}
.Uu.Ur{
	transform-origin:-10vw 30vw -30vw;
}
.Um.Ul{
	transform-origin:30vw 10vw -30vw;
}
.Um.Uc{
	transform-origin:10vw 10vw -30vw;
}
.Um.Ur{
	transform-origin:-10vw 10vw -30vw;
}
.Ud.Ul{
	transform-origin:30vw -10vw -30vw;
}
.Ud.Uc{
	transform-origin:10vw -10vw -30vw;
}
.Ud.Ur{
	transform-origin:-10vw -10vw -30vw;
}

.Du.Dl{
	transform-origin:30vw 30vw -30vw;
}
.Du.Dc{
	transform-origin:10vw 30vw -30vw;
}
.D.u.r{
	transform-origin:-10vw 30vw -30vw;
}
.Dm.Dl{
	transform-origin:30vw 10vw -30vw;
}
.Dm.Dc{
	transform-origin:10vw 10vw -30vw;
}
.Dm.Dr{
	transform-origin:-10vw 10vw -30vw;
}
.Dd.Dl{
	transform-origin:30vw -10vw -30vw;
}
.Dd.Dc{
	transform-origin:10vw -10vw -30vw;
}
.Dd.Dr{
	transform-origin:-10vw -10vw -30vw;
}

.Lu.Ll{
	transform-origin:30vw 30vw -30vw;
}
.Lu.Lc{
	transform-origin:10vw 30vw -30vw;
}
.Lu.Lr{
	transform-origin:-10vw 30vw -30vw;
}
.Lm.Ll{
	transform-origin:30vw 10vw -30vw;
}
.Lm.Lc{
	transform-origin:10vw 10vw -30vw;
}
.Lm.Lr{
	transform-origin:-10vw 10vw -30vw;
}
.Ld.Ll{
	transform-origin:30vw -10vw -30vw;
}
.Ld.Lc{
	transform-origin:10vw -10vw -30vw;
}
.Ld.Lr{
	transform-origin:-10vw -10vw -30vw;
}

.Ru.Rl{
	transform-origin:30vw 30vw -30vw;
}
.Ru.Rc{
	transform-origin:10vw 30vw -30vw;
}
.Ru.Rr{
	transform-origin:-10vw 30vw -30vw;
}
.Rm.Rl{
	transform-origin:30vw 10vw -30vw;
}
.Rm.Rc{
	transform-origin:10vw 10vw -30vw;
}
.Rm.Rr{
	transform-origin:-10vw 10vw -30vw;
}
.Rd.Rl{
	transform-origin:30vw -10vw -30vw;
}
.Rd.Rc{
	transform-origin:10vw -10vw -30vw;
}
.Rd.Rr{
	transform-origin:-10vw -10vw -30vw;
}

.Bu.Bl{
	transform-origin:30vw 30vw -30vw;
}
.Bu.Bc{
	transform-origin:10vw 30vw -30vw;
}
.Bu.Br{
	transform-origin:-10vw 30vw -30vw;
}
.Bm.Bl{
	transform-origin:30vw 10vw -30vw;
}
.Bm.Bc{
	transform-origin:10vw 10vw -30vw;
}
.Bm.Br{
	transform-origin:-10vw 10vw -30vw;
}
.Bd.Bl{
	transform-origin:30vw -10vw -30vw;
}
.Bd.Bc{
	transform-origin:10vw -10vw -30vw;
}
.Bd.Br{
	transform-origin:-10vw -10vw -30vw;
}





.hide{
	opacity: 0.0;
}
.rotL_F{
	transition:0.5s;
	transform: rotateY(-90deg);
}
.rotL_R{
	transition:0.5s;
	transform: rotateY(0deg);
}
.rotR_F{
	transition:0.5s;
	transform: rotateY(90deg);
}
.rotR_L{
	transition:0.5s;
	transform: rotateY(0deg);
}
.rotU_F{
	transition:0.5s;
	transform: rotateX(90deg);
}
.rotU_D{
	transition:0.5s;
	transform: rotateX(0deg);
}
.rotD_F{
	transition:0.5s;
	transform: rotateX(-90deg);
}
.rotD_U{
	transition:0.5s;
	transform: rotateX(0deg);
}

