:root{
  --w: #fff;
  --r: #ff686f;
  --o: #ffc36e;
  --b: #69ccff;
  --g:#8bff69;
  --y:#ffff5d;
}

html,body{
	overflow: hidden;
}
body{
	/*width:95vw;
	height:95vh;*/
	background-color:#555;
}

.navBox{
	position: fixed;
	height:100vh;
	width:35vw;
	background-color: #000;
	font-size: 2vw;
	color:#fff;
	z-index: 100;
}

.navigation{
	margin:0px 1vw;
	height:calc(100vh/3);
	text-align: center;
	vertical-align: middle;
	line-height: calc(100vh/3);
	transition:3s;
}
.navigation:hover{
	text-decoration:underline;
}

#home{
	border-top:solid 1px white;
	border-bottom:solid 1px white;
}

.Rect{
	position:absolute;
	left:6vw;
	font-size: 5vw;
	line-height: calc(100vh/3);
	transform-origin: left;
}

.workBox{
	width:9vw;
	height:calc(100vh/3);
	color:white;
	position:relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	top:calc(-1*100vh/3);
	left:26vw;
	transition:opacity 1s;
}
.likeBox{
	width:9vw;
	height:calc(100vh/3);
	color:white;
	position:fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	top:0;
	left:26vw;
	transition:opacity 1s;
}
.work1:hover{
	text-decoration:underline;
}
.work2:hover{
	text-decoration:underline;
}
.work3:hover{
	text-decoration:underline;
}
.work4:hover{
	text-decoration:underline;
}
.like1:hover{
	text-decoration:underline;
}
.like2:hover{
	text-decoration:underline;
}
.like3:hover{
	text-decoration:underline;
}
.like4:hover{
	text-decoration:underline;
}
.like5:hover{
	text-decoration:underline;
}
.underline{
	text-decoration: underline;
}

.cubeBox{
	display:flex;
	flex-wrap: wrap;
	position: absolute;
	left:35vw;
	width:100vh;
	height:100vh;
	transform-style: preserve-3d;
	perspective: 60vw;
	transform-origin:50vh 50vh -50vh;
}
.cube{
	/*width:calc(100vh/3);
	height:calc(100vh/3);*/
	width:calc(100vh/3);
	height:calc(100vh/3);
	border:solid 2px #000;
	display: flex;
	justify-content: space-around;
	/*text-align:center;*/
}
.FF{
	z-index:10;
}


.centerImg{
	height:100%;
}
.centerImgC{
	height:100%;
}
.centerImgP{
	width:100%;
	margin:12.5% 0;
}
.title{
	text-decoration:underline;
}
.centerSY{
	font-size: 2.5vh;
	width:100%;
	height:100%;
	color:black;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	position: relative;
}
.centerSY1{
	font-size: 2.2vh;
	width:100%;
	height:100%;
	color:black;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	position: relative;
}
.centerST{
	writing-mode: vertical-rl;
	font-size: 2.5vh;
	width:100%;
	height:100%;
	color:black;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	position: relative;
}
.centerST1{
	writing-mode: vertical-rl;
	font-size: 2vh;
	width:100%;
	height:100%;
	color:black;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	position: relative;
}
.centerST2{
	writing-mode: vertical-rl;
	font-size: 5vh;
	width:100%;
	height:100%;
	color:black;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	position: relative;
}
.centerST3{
	writing-mode: vertical-rl;
	font-size: 2vh;
	width:100%;
	height:100%;
	color:black;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	position: relative;
}

.cW{
	background-color: var(--w);
}
.cY{
	background-color: var(--y);
}
.cG{
	background-color: var(--g);
}
.cB{
	background-color: var(--b);
}
.cO{
	background-color: var(--o);
}
.cR{
	background-color: var(--r);
}


.Uu{
	transform-origin:calc(50vh/3) 50vh -50vh;
	transform: rotateX(90deg);
}
.Um{
	transform-origin:calc(50vh/3) calc(50vh/3) -50vh;
	transform: rotateX(90deg);
}
.Ud{
	transform-origin:calc(50vh/3) calc(-50vh/3) -50vh;
	transform: rotateX(90deg);
}
.Du{
	transform-origin:calc(50vh/3) 50vh -50vh;
	transform: rotateX(-90deg);
}
.Dm{
	transform-origin:calc(50vh/3) calc(50vh/3) -50vh;
	transform: rotateX(-90deg);
}
.Dd{
	transform-origin:calc(50vh/3) calc(-50vh/3) -50vh;
	transform: rotateX(-90deg);
}
.Ll{
	transform-origin:50vh calc(50vh/3) -50vh;
	transform: rotateY(-90deg);
}
.Lc{
	transform-origin:calc(50vh/3) calc(50vh/3) -50vh;
	transform: rotateY(-90deg);
}
.Lr{
	transform-origin:calc(-50vh/3) calc(50vh/3) -50vh;
	transform: rotateY(-90deg);
}
.Rl{
	transform-origin:50vh calc(50vh/3) -50vh;
	transform: rotateY(90deg);
}
.Rc{
	transform-origin:calc(50vh/3) calc(50vh/3) -50vh;
	transform: rotateY(90deg);
}
.Rr{
	transform-origin:calc(-50vh/3) calc(50vh/3) -50vh;
	transform: rotateY(90deg);
}
.Bl{
	transform-origin:50vh calc(50vh/3) -50vh;
	transform: rotateY(180deg);
}
.Bc{
	transform-origin:calc(50vh/3) calc(50vh/3) -50vh;
	transform: rotateY(180deg);
}
.Br{
	transform-origin:calc(-50vh/3) calc(50vh/3) -50vh;
	transform: rotateY(180deg);
}
.Uu.Ul{
	transform-origin:50vh 50vh -50vh;
}
.Uu.Uc{
	transform-origin:calc(50vh/3) 50vh -50vh;
}
.Uu.Ur{
	transform-origin:calc(-50vh/3) 50vh -50vh;
}
.Um.Ul{
	transform-origin:50vh calc(50vh/3) -50vh;
}
.Um.Uc{
	transform-origin:calc(50vh/3) calc(50vh/3) -50vh;
}
.Um.Ur{
	transform-origin:calc(-50vh/3) calc(50vh/3) -50vh;
}
.Ud.Ul{
	transform-origin:50vh calc(-50vh/3) -50vh;
}
.Ud.Uc{
	transform-origin:calc(50vh/3) calc(-50vh/3) -50vh;
}
.Ud.Ur{
	transform-origin:calc(-50vh/3) calc(-50vh/3) -50vh;
}

.Du.Dl{
	transform-origin:50vh 50vh -50vh;
}
.Du.Dc{
	transform-origin:calc(50vh/3) 50vh -50vh;
}
.D.u.r{
	transform-origin:calc(-50vh/3) 50vh -50vh;
}
.Dm.Dl{
	transform-origin:50vh calc(50vh/3) -50vh;
}
.Dm.Dc{
	transform-origin:calc(50vh/3) calc(50vh/3) -50vh;
}
.Dm.Dr{
	transform-origin:calc(-50vh/3) calc(50vh/3) -50vh;
}
.Dd.Dl{
	transform-origin:50vh calc(-50vh/3) -50vh;
}
.Dd.Dc{
	transform-origin:calc(50vh/3) calc(-50vh/3) -50vh;
}
.Dd.Dr{
	transform-origin:calc(-50vh/3) calc(-50vh/3) -50vh;
}

.Lu.Ll{
	transform-origin:50vh 50vh -50vh;
}
.Lu.Lc{
	transform-origin:calc(50vh/3) 50vh -50vh;
}
.Lu.Lr{
	transform-origin:calc(-50vh/3) 50vh -50vh;
}
.Lm.Ll{
	transform-origin:50vh calc(50vh/3) -50vh;
}
.Lm.Lc{
	transform-origin:calc(50vh/3) calc(50vh/3) -50vh;
}
.Lm.Lr{
	transform-origin:calc(-50vh/3) calc(50vh/3) -50vh;
}
.Ld.Ll{
	transform-origin:50vh calc(-50vh/3) -50vh;
}
.Ld.Lc{
	transform-origin:calc(50vh/3) calc(-50vh/3) -50vh;
}
.Ld.Lr{
	transform-origin:calc(-50vh/3) calc(-50vh/3) -50vh;
}

.Ru.Rl{
	transform-origin:50vh 50vh -50vh;
}
.Ru.Rc{
	transform-origin:calc(50vh/3) 50vh -50vh;
}
.Ru.Rr{
	transform-origin:calc(-50vh/3) 50vh -50vh;
}
.Rm.Rl{
	transform-origin:50vh calc(50vh/3) -50vh;
}
.Rm.Rc{
	transform-origin:calc(50vh/3) calc(50vh/3) -50vh;
}
.Rm.Rr{
	transform-origin:calc(-50vh/3) calc(50vh/3) -50vh;
}
.Rd.Rl{
	transform-origin:50vh calc(-50vh/3) -50vh;
}
.Rd.Rc{
	transform-origin:calc(50vh/3) calc(-50vh/3) -50vh;
}
.Rd.Rr{
	transform-origin:calc(-50vh/3) calc(-50vh/3) -50vh;
}
.F.u.l{
	transform-origin:50vh 50vh -50vh;
}
.F.u.c{
	transform-origin:calc(50vh/3) 50vh -50vh;
}
.F.u.r{
	transform-origin:calc(-50vh/3) 50vh -50vh;
}
.F.m.l{
	transform-origin:50vh calc(50vh/3) -50vh;
}
.F.m.c{
	transform-origin:calc(50vh/3) calc(50vh/3) -50vh;
}
.F.m.r{
	transform-origin:calc(-50vh/3) calc(50vh/3) -50vh;
}
.F.d.l{
	transform-origin:50vh calc(-50vh/3) -50vh;
}
.F.d.c{
	transform-origin:calc(50vh/3) calc(-50vh/3) -50vh;
}
.F.d.r{
	transform-origin:calc(-50vh/3) calc(-50vh/3) -50vh;
}
.F{
	z-index: 15;
	transform:rotateX(0deg);
	transform:rotateY(0deg);
}





.hide{
	opacity: 0.0;
}
.hideS{
	opacity: 0.1;
}
.conE{
	transition-delay:opacity 3s;
	transition:opacity 5s;
}
.rotL_F{
	transition:0.4s;
	transform: rotateY(-90deg);
}
.rotL_R{
	transition:0.4s;
	transform: rotateY(0deg);
}
.rotR_F{
	transition:0.4s;
	transform: rotateY(90deg);
}
.rotR_L{
	transition:0.4s;
	transform: rotateY(0deg);
}
.rotU_F{
	transition:0.4s;
	transform: rotateX(90deg);
}
.rotU_D{
	transition:0.4s;
	transform: rotateX(0deg);
}
.rotD_F{
	transition:0.4s;
	transform: rotateX(-90deg);
}
.rotD_U{
	transition:0.4s;
	transform: rotateX(0deg);
}


.cong{
	position: fixed;
	left:35vw;
	width:100vh;
	height:100vh;
	font-size: 12vh;
	color:black;
	z-index: 100;
	text-align:center;
	line-height: 100vh;

	transition-delay:opacity 3s;
	transition:opacity 3s;
}
.conghide{
	opacity: 0.5;
}
